html body {
  background-color:#303030;
  color:white
}


.mainContainer {
  background-color:black;
  color:black;
}

.nav-tabs {
  background-color:black
}

.menuContent {
  width:700px;
  margin:auto;

  background-color:#303030;
}

.tab-content {
  position:relative;
  width: 100vw;
}

#materialDiv {
  height: 80vh; 
  overflow-y:auto;
  border-bottom: solid 3px black
}

input {
  color:white;
}

#docDiv {
  width: 800px;

  margin:auto;
}

.tableDiv {
 
  overflow-y:auto;
}

#page {
  width: 800px;
  height: 100vhx;
}

#map{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height:70vh;
  bottom: 0;

}




tr:nth-child(even) {
    background-color: #303030;
}

tr:nth-child(odd) {
  background-color: rgb(100,100,100);
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: white;
  color:black;
}

tr:active{
  background-color: white;
  color:red;

}

#home {
  background:#303030;
  margin-top:35px;
}

#resultButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(155, 155, 155, 1);
  box-shadow:1px 1px 1px black;
}

#resultButton:hover {
  background-color: rgba(0, 0, 0, 1);
}

#resultButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-size: 10px;
}