html body {
  color:rgb(220,220,220);
}

.mainContainer {
  background-color:black;
  color:black;
}

.nav-tabs {
  background-color:#212121;
}

#mainContainer {
  width: 100vw;
  height: 100vh;

  background-color:#303030
}

.menuContent {
  width:700px;
  margin-left:10px;
  background-color:#424242
}

.tab-content {
  position:relative;
  height: 500px;
  width: 100vw;
}

.tab-pane {
  background-color:#303030; 
  height:100%;
}

#map{
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 0;
  width: 40%;
}


tr:nth-child(even) {
    background-color: #303030;
}

tr:nth-child(odd) {
  background-color: rgb(100,100,100);
  
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: white;
  color:black;
}

tr:active{
  background-color: white;
  color:red;

}

#resultButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(155, 155, 155, 1);
  box-shadow:1px 1px 1px black;
}

#resultButton:hover {
  background-color: rgba(0, 0, 0, 1);
}

#resultButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-size: 10px;
}